body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("website-images/rsz_background1.png");
  background-size: 100%;
}

header { /* height of header, colour of text and alignment*/
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.7)
    ),url("website-images/dog3.jpeg");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 40px 0;
  height: 300px;
  color: white;
  text-align: center;
}




h1 { /* size and position of header 1 */
  font-size: 70px;
  padding-top: 80px;
}

.slogan {
  background-color: #ff704d;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  padding-left: 1000px;
}

#logo {
  width: 230px;
  height: 230px;
  padding-left: 640px;
  align-items: center;
  justify-content: center;
}

nav ul { /* colour of text and background of nav bar */
  overflow: hidden;
  color: black;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  margin: 0;
}

nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li:hover { /* colour of hover text */
  color: #ff704d;
}

section {
  line-height: 1.5em;
  font-size: 0.9em;
  padding: 10px;
  width: 75%;
  margin: 0 auto;
}

section li {
  color: white;
  text-align: center;
}

section a { */ colour of a tag */
  padding-top: 20px;
  padding-left: 100px;
  color: white;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: white;
  text-align: center;
  text-decoration: underline;
}

p {
  color: white;
  text-align: center;
}

div.transbox { /* design for background of section text */
  margin: 30px;
  background-color: black;
  opacity: 0.4;
}

footer {
  text-align: center;
  font-size: 20px;
  padding: 20px;
  line-height: 1.5em;
  background-color: #ebebe0;
  opacity: 0.8;
}

footer ul { /* removes bullet points from footer list */
  list-style-type: none;
}
