* {
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "logo navbar navbar navbar"
  "header header header header"
  "content content content content"
  "footer footer footer footer";
}

body {
  background-image: url("website-images/rsz_background1.png");
  background-size: 100%;
}

.logo {
  grid-area: logo;
  padding-left: 8em;
}

#logo {
  width: 230px;
  height: 230px;
}

.navbar {
  grid-area: navbar;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: left;
}

a {
  color: black;
  text-decoration: none;
  text-align: left;
  width: 250px;
  padding: 2em 0;
  display: inline-block;
}

a:hover {
    position: relative;
    color: grey;
}


h1 {
  grid-area: header;
  text-align: left;
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #ff704d;
  padding-top: 60px;
  padding-bottom: 10px;
  padding-left: 150px;
}

.line {
  width: 390px;
  height: 3px;
  transform: translate(130px);
  background-color: #ff704d;
}

.content {
  grid-area: content;
  margin-top: 2em;
  margin-left: 2em;
  text-align: left;
}



.gallery {
  margin: 80px 90px;
}

.gallery img {
  transition: 0.8s;
  padding: 20px;
  width: 420px;
  height: 300px;
}

.gallery img:hover {
  filter: grayscale(100%);
  transform: scale(1.1);
}



/*.img {
  margin: 50px;
  float: left;
  width: 200px;
}

.img img {
  width: 100%;
  height: auto;
}*/




.footer {
  grid-area: footer;
  text-align: center;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  padding: 20px;
  line-height: 1.5em;
  background-color: #ebebe0;
  opacity: 0.8;
}

p1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: black;
}

ul li {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.8em;
  color: black;
  text-align: center;
  float: center;
  list-style-type: none;
}

p2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  text-align: left;
  color: black;
}


@media screen  and (min-width: 736px) {
  .grid {
  display: grid;
  grid-template-columns: 1fr 500px 500px 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
  "logo navbar navbar navbar"
  "header header header header"
  "content content content content"
  "footer footer footer footer";
 }

}
